<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/bootstrap.{{ minified }}css">
    <link rel="stylesheet" href="css/MonPotager.{{ minified }}css">
    <script src="js/jquery-3.1.1.{{ minified }}js"></script>
    <script src="js/jets.{{ minified }}js"></script>
    <script src="js/jquery.scrollTo.{{ minified }}js"></script>
    <script src="js/cookie.{{ minified }}js"></script>
    <script src="js/bootstrap.{{ minified }}js"></script>
</head>
<body>
<div class="container-fluid">
    <span id="on-screen-test"></span>
    <div class="row">
        <div class="col-xs-12 col-md-3 info-side col-left" style="padding-top: 10px;">
            <div class="panel panel-default panel-MonPotager">
                <div class="panel-heading"><b>Dans mon potager</b>
                    <div href="#" data-toggle="modal" class="pull-right btn btn-default" data-target="#reset">
                        <span class="glyphicon glyphicon-refresh"></span>
                    </div>
                    <div id="save-btn" class="pull-right btn btn-success" style="margin-right: 3px">
                        <span class="glyphicon glyphicon-save"></span>
                    </div>
                </div>
                <div id="upper-left" class="panel-body">
                    <div id="alert-save"></div>
                    <div id="plants" class="padding-div">
                        <span id="plants-count" class="text-bold"
                              data-singular="plante :"
                              data-plural="plantes :"></span><br>
                        {% for key, value in appartenance if value in cat_plants %}
                        <span data-value="{{ key }}"
                              class="potager-item potager-item-{{ key }} links hidden">
                                {{ plants[key] }};
                            </span>
                        {% endfor %}
                    </div>
                    <div id="interaction-pos" class="padding-div">
                        <span class="glyphicon glyphicon-ok-circle green"></span>
                        <span id="interaction-pos-count" class="text-bold"
                              data-singular="interaction favorable."
                              data-plural="interactions favorables."></span> <br>
                    </div>
                    <div id="helpers" class="padding-div">
                        <span class="glyphicon glyphicon-ok-circle green"></span>
                        <span id="helpers-count" class="text-bold"
                              data-singular="auxiliaire attiré :"
                              data-plural="auxiliaires attirés :"></span><br>
                        {% for key, value in appartenance if value == 6 %}
                        <span data-value="{{ key }}"
                              class="potager-item potager-item-{{ key }} links hidden">
                            {{ plants[key] }};
                        </span>
                        {% endfor %}
                        <br>
                    </div>
                    <div id="repelled-pests" class="padding-div">
                        <span class="glyphicon glyphicon-ok-circle green"></span>
                        <span id="repelled-pests-count" class="text-bold"
                              data-singular="nuisible écarté :"
                              data-plural="nuisibles écartés :"></span><br>
                        {% for key, value in appartenance if value == 5 %}
                        <span data-value="{{ key }}"
                              class="potager-item potager-item-{{ key }} links hidden">
                            {{ plants[key] }};
                        </span>
                        {% endfor %}
                        <br>
                    </div>
                    <div id="interaction-neg" class="padding-div">
                        <span class="glyphicon glyphicon-remove-circle red"></span>
                        <span id="interaction-neg-count" class="text-bold"
                              data-singular="interaction défavorable."
                              data-plural="interactions défavorables."></span> <br>
                    </div>
                    <div id="pests" class="padding-div">
                        <span class="glyphicon glyphicon-remove-circle red"></span>
                        <span id="pests-count" class="text-bold"
                              data-singular="nuisible :"
                              data-plural="nuisibles :"></span><br>
                        {% for key, value in appartenance if value == 5 %}
                        <span data-value="{{ key }}"
                              class="potager-item potager-item-{{ key }} links hidden">
                            {{ plants[key] }};
                        </span>
                        {% endfor %}
                        <br>
                    </div>
                </div>
            </div>
            <div id="info" class="panel panel-default panel-MonPotager no-margin-bottom hidden">
                <div class="panel-heading clearfix">
                    <button id="remove-selected" class="btn btn-danger btn-sm pull-right">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>
                    <b><span id="info-name"></span></b>
                </div>
                <div class="panel-body">
                    <a href="" id="wiki-btn" class="links pull-right" target="_blank" style="margin-bottom: 15px">
                        <span class="glyphicon glyphicon-globe"></span> Wikipedia
                    </a>
                    {% for inter in ["pos","atr","neg","rep"] %}
                    {% for direction in ["forward", "backward"] %}
                    <div id="node-{{ direction }}-{{ inter }}" class="padding-div">
                        {% if inter in ["pos", "atr"] %}
                        <span id="glyph-{{ direction }}-{{ inter }}" class="glyphicon glyphicon-ok-circle green"></span>
                        {% else %}
                        <span id="glyph-{{ direction }}-{{ inter }}"
                              class="glyphicon glyphicon-remove-circle red"></span>
                        {% endif %}
                        <b>{{ interactions[direction][inter] }} :</b><br>
                        <span class="text"></span><span class="btn-filter links"></span>
                    </div>
                    {% endfor %}
                    {% endfor %}
                    <div id="helpers-links">
                        <span class="glyphicon glyphicon-ok-circle green"></span>
                        <b>Attirer des auxilliaires pour le repousser :</b>
                        <div id="helpers-container"></div>
                    </div>
                </div>
            </div>
        </div>
        <svg id="graph"></svg>
        <div class="col-xs-12 col-md-3 info-side col-right"
             style="display: flex; flex-flow: column; max-height: 100%; height: 100%; padding-top: 10px;">
            <div class="panel panel-default panel-MonPotager no-margin-bottom"
                 style="flex: 0 1 auto; display: flex; flex-flow: column; overflow-y: hidden; max-height: 100%; height: 100%;">
                <div class="panel-heading" style="flex: 0 1 auto;"><b>Ajouter des plantes</b></div>
                <div class="panel-body"
                     style="flex: 0 1 auto; display: flex; flex-flow: column; overflow-y: hidden; max-height: 100%; height: 100%;">
                    <div class="filter-bow" style="flex: 0 1 auto;">
                        <div class="box">
                            <div class="container-jets">
                                <span class="glyphicon glyphicon-search"></span>
                                <input type="search" id="jets-MonPotager-search" placeholder="Chercher"/>
                            </div>
                        </div>
                        <div id="filter" class="btn btn-primary btn-sm hidden">
                            <span id="filter-name"></span>
                            <span class="glyphicon glyphicon-remove-circle"></span>
                        </div>
                        <div class="btn-group-justified" data-toggle="buttons" style="padding-bottom: 5px">
                            {% for letter in first_letter %}
                            <span data-letter="{{ letter }}"
                                  class="btn-letter btn btn-default btn-sm" style="padding: 5px 0">
                            {{ letter }}
                            </span>
                            {% endfor %}
                        </div>
                    </div>
                    <div id="jets-MonPotager-content" style="flex: 0 1 auto; overflow: auto;" data-toggle="buttons">
                        {% for key, value in appartenance if value in cat_plants %}
                        <div id="plant-{{ key }}" data-value="{{ key }}" data-letter="{{ plants[key][0] }}"
                             class="btn btn-default btn-sm plant btn-plant col-xs-12">
                            <b>{{ plants[key] }}</b>
                            (<span class="plus"></span>&nbsp;<span class="glyphicon glyphicon-ok-circle green"
                                                                   style="font-size: 0.8em"></span>&nbsp;/&nbsp;
                            <span class="minus"></span>&nbsp;<span class="glyphicon glyphicon-remove-circle red"
                                                                   style="font-size: 0.8em"></span>)

                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div style="flex: 1 1 auto; padding-bottom: 60px">
                <br>
                <div class="panel panel-default no-margin-bottom">
                    <div class="breadcrumb clearfix no-margin-bottom">
                        <a data-toggle="collapse" href="#legend"
                           class="pull-right glyphicon glyphicon-chevron-down"></a>
                        <a data-toggle="collapse" href="#legend" class="text-left">
                            Masquer la légende
                        </a>
                    </div>
                    <div id="legend" class="panel-collapse collapse in" role="tabpanel">
                        <div class="panel-body">
                            {% for example in examples %}
                            <div class="breadcrumb-item">
                                <b>{{ example['description'] }} :</b>
                                <svg class="example" width="200" height="30">
                                    <path class="link {{ example['link'] }}"
                                          marker-end="url(#{{ example['link'] }})"
                                          d="M30 30 Q 105 -25 180 30"></path>
                                    <g class="node" transform="translate(30,30)" style="opacity: 1;">
                                        <circle fill="{{ example['color_source'] }}" r="10"></circle>
                                        <text x="11" y="-4">{{ example['name_source'] }}</text>
                                    </g>
                                    <g class="node" transform="translate(180,30)" style="opacity: 1;">
                                        <circle fill="{{ example['color_target'] }}" r="10"></circle>
                                        <text x="11" y="-4">{{ example['name_target'] }}</text>
                                    </g>
                                </svg>
                            </div>
                            {% endfor %}
                            {% for cat, color in categories %}
                            <span style="font-size: 1.2em;">
                             <b style='color: {{ color }}; text-shadow: -1px -1px 0 #000,  1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;'>
                                 <span class="glyphicon glyphicon-stop"></span></b>&nbsp;{{ cat }};
                            </span>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="footer">
    <div class="container">
        <div href="#" data-toggle="modal" class="pull-left footer-link" data-target="#apropos">
            À propos
        </div>
    </div>
</footer>
<div class="modal fade" id="apropos" tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">À propos</h4>
            </div>
            <div class="modal-body">
                Rarement prises en compte dans la planification d'un potager, les interactions végétales entre plants
                compagnes peuvent souvent aider à limiter l'apparition des maladies ou même à augmenter la productivité
                du potager.
                <br><br>
                <i>Mon Potager</i> est une application permettant de simuler son potager en insérant les diverses
                espèces de fruits et légumes, et de savoir si les interactions seront favorables ou défavorables.
                <i>Mon Potager</i> permet également d'obtenir facilement des informations sur la façon dont un parasite
                peut être éliminé par des plants compagnes.
                <br><br>
                <div class="small">
                    Les références que nous avons utilisées sont<br>

                    <a href="http://boutique.terrevivante.org/librairie/livres/119/jardin-bio/conseils-d-expert/458-plants-compagnes-au-potager-bio.htm"
                       target="_blank">
                        1. Plantes compagnes au potager bio, de S. Lefrançois et Jean-Paul Thorez
                    </a><br>

                    <a href="http://boutique.terrevivante.org/librairie/livres/31/jardin-bio/facile-et-bio/458-le-poireau-prefere-les-fraises.htm"
                       target="_blank">
                        2. Le poireau préfère les fraises, de Hans Wagner
                    </a><br><br>
                    <i>Mon Potager</i> a été développé par
                    <a href="https://github.com/ThibaultLatrille/" target="_blank">Thibault Latrille</a> et
                    <a href="https://github.com/tlorin" target="_blank">Thibault Lorin</a>, deux comparses intéressés
                    par les interactions
                    végétales au sein du potager. Le code (CC-BY-NC) est disponible à
                    <a href="https://github.com/ThibaultLatrille/MonPotager"
                       target="_blank">https://github.com/ThibaultLatrille/MonPotager</a>.
                    <br><br>
                    Par ailleurs la base de données est collaborative, n'hésitez pas à proposer des changements: <br>
                    <ul>
                        <li>
                            <a href="https://docs.google.com/spreadsheets/d/1Wp_fomhElzCspAxgarp1BstonU0HGA_tNB_U2uNskw0/edit?usp=sharing#gid=537765681"
                               target="_blank">Base de données des
                                espèces</a>.
                        </li>
                        <li>
                            <a href="https://docs.google.com/spreadsheets/d/1Wp_fomhElzCspAxgarp1BstonU0HGA_tNB_U2uNskw0/edit?usp=sharing#gid=0"
                               target="_blank">Base de données des
                                associations</a>.
                        </li>
                    </ul>
                    Contactez nous à l'adresse <a href="mailto:monpotager@controversciences.org">monpotager@controversciences.org</a>
                    pour nous signaler des erreurs, nous
                    proposer des améliorations possibles, partager des bons plans, ou simplement pour en savoir plus !
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="wiki-modal" tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Wikipedia</h4>
            </div>
            <div class="modal-body">
                <div id="wiki-div"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="reset" tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Initialiser MonPotager.</h4>
            </div>
            <div class="modal-body">
                <b>Niveau 1 (débutant), </b>un potager avec uniquement des interactions positives : <br>
                <button id="reset-1" data-plants="Ail|Betterave|Camomille allemande|Carotte|Oignon|Pommier"
                        type="button"
                        class="btn btn-primary center-block reset-btn" data-dismiss="modal" style="margin-top: 5px">Ail, betterave, camomille
                    allemande, carotte, oignon, pommier
                </button>
                <br>
                <b>Niveau 2 (intermédiaire), </b>un potager avec des nuisibles dont il faut vous débarrasser : <br>
                <button id="reset-0" data-plants="Carotte|Pommier|Betterave|Haricot" type="button"
                        class="btn btn-primary center-block reset-btn" data-dismiss="modal" style="margin-top: 5px">Carotte, pommier, betterave
                    et haricot
                </button>
                <br>
                <b>Niveau 3 (confirmé), </b>à vous de jouer : <br>
                <button id="reset-2" data-plants="" type="button"
                        class="btn btn-primary center-block reset-btn" data-dismiss="modal" style="margin-top: 5px">A partir de rien
                </button>
                <br>
                <div id="my-saves" class="clearfix">
                    <b>Mes sauvegardes</b>
                    <div id="my-save-list">
                    </div>
                    <button id="saves-remove" class="btn btn-danger btn-sm pull-right">
                        Supprimer mes sauvegardes<span class="glyphicon glyphicon-trash"></span>
                    </button>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>
<script src="js/d3.{{ minified }}js"></script>
<script src="js/data.{{ minified }}js"></script>
<script src="js/MonPotager.{{ minified }}js"></script>
</body>
</html>