.box {
  width: 250px;
  height: 50px;
  margin-bottom: 10px;
  .container-jets {
    width: 200px;
    vertical-align: middle;
    white-space: nowrap;
    position: relative;
  }
  .container-jets input {
    width: 250px;
    border: none;
    border-bottom: 4px solid #26a69a;
    font-size: 1.5em;
    float: left;
    color: #65737e;
    padding: 5px 0 5px 40px;
    -webkit-transition: background .55s ease;
    -moz-transition: background .55s ease;
    -ms-transition: background .55s ease;
    -o-transition: background .55s ease;
    transition: background .55s ease;
  }
  .container-jets input::-webkit-input-placeholder {
    color: #65737e;
  }
  .container-jets input:-moz-placeholder {
    /* Firefox 18- */
    color: #65737e;
  }
  .container-jets input::-moz-placeholder {
    /* Firefox 19+ */
    color: #65737e;
  }
  .container-jets input:-ms-input-placeholder {
    color: #65737e;
  }
  .container-jets .icon {
    position: absolute;
    top: 50%;
    margin-left: 6px;
    margin-top: 8px;
    font-size: 1.6em;
    z-index: 1;
    color: #4f5b66;
  }
  .container-jets input:hover, .container-jets input:focus, .container-jets input:active {
    outline: none;
    background: #ffffff;
  }
  .container-jets input:focus::-webkit-input-placeholder {
    color: #FDFDFD;
  }
  .container-jets input:focus:-moz-placeholder {
    color: #FDFDFD;
  }
  .container-jets input:focus::-moz-placeholder {
    color: #FDFDFD;
  }
  .container-jets input:focus:-ms-input-placeholder {
    color: #FDFDFD;
  }
}