$green: #5cb85c;
$red: #d9534f;

$altgreen: #aed688;
$altred: #ca472f;

.box {
  width: 250px;
  height: 50px;
  margin-bottom: 10px;
  .container-jets {
    width: 200px;
    vertical-align: middle;
    white-space: nowrap;
    position: relative;
  }
  .container-jets input {
    width: 250px;
    border: none;
    border-bottom: 4px solid #26a69a;
    font-size: 1.5em;
    float: left;
    color: #65737e;
    padding: 5px 0 5px 40px;
    -webkit-transition: background .55s ease;
    -moz-transition: background .55s ease;
    -ms-transition: background .55s ease;
    -o-transition: background .55s ease;
    transition: background .55s ease;
  }
  .container-jets input::-webkit-input-placeholder {
    color: #65737e;
  }
  .container-jets input:-moz-placeholder {
    /* Firefox 18- */
    color: #65737e;
  }
  .container-jets input::-moz-placeholder {
    /* Firefox 19+ */
    color: #65737e;
  }
  .container-jets input:-ms-input-placeholder {
    color: #65737e;
  }
  .container-jets .icon {
    position: absolute;
    top: 50%;
    margin-left: 6px;
    margin-top: 8px;
    font-size: 1.6em;
    z-index: 1;
    color: #4f5b66;
  }
  .container-jets input:hover, .container-jets input:focus, .container-jets input:active {
    outline: none;
    background: #ffffff;
  }
  .container-jets input:focus::-webkit-input-placeholder {
    color: #FDFDFD;
  }
  .container-jets input:focus:-moz-placeholder {
    color: #FDFDFD;
  }
  .container-jets input:focus::-moz-placeholder {
    color: #FDFDFD;
  }
  .container-jets input:focus:-ms-input-placeholder {
    color: #FDFDFD;
  }
}
.btn:focus {
  outline: none;
}
.link {
  fill: none;
  stroke-width: 2px;
}

.link.pos {
  stroke: $green;
}
#pos{
  fill: $green;
}
.link.neg {
  stroke: $red;
}
#neg{
  fill: $red;
}
.link.atr {
  stroke: $green;
  stroke-dasharray: 0,2 1;
}
#atr{
  fill: $green;
}
.link.rep {
  stroke: $red;
  stroke-dasharray: 0,2 1;
}
#rep{
  fill: $red;
}
g {
  fill: #0f0f0f;
}
circle {
  stroke: #333;
  stroke-width: 2px;
}
text {
  fill: #0f0f0f;
  font: 14px sans-serif;
  font-weight: bold;
  pointer-events: none;
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
}