<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="bootstrap-3.3.7-dist/css/bootstrap.css">
    <link rel="stylesheet" href="potageome.css">
    <script src="jquery-3.1.1.js"></script>
    <script src="jets.js"></script>
    <script src="bootstrap-3.3.7-dist/js/bootstrap.js"></script>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-md-2">
            <br><br>
            <div id="jetsMyPotageomeContent" data-toggle="buttons">
                {% for key, value in appartenance.items() if value in [1,2,3,4,7,9] %}
                <div id="planteSelected_{{ key }}" data-value="{{ key }}"
                     class="btn btn-default planteSelected btn-block text-left" style="display: none;">
                    {{ plantes[key] }}
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-xs-12 col-md-8">
            <svg id="graph" width="1024" height="1024"></svg>
        </div>
        <div class="col-xs-12 col-md-2">
            <div class="box">
                <div class="container-jets">
                    <span class="icon glyphicon glyphicon-filter"></span>
                    <input type="search" id="jetsPotageomeSearch" placeholder="Filtrer"/>
                </div>
            </div>
            <div id="jetsPotageomeContent" data-toggle="buttons">
                {% for key, value in appartenance.items() if value in [1,2,3,4,7,9] %}
                <div id="plante_{{ key }}"  data-value="{{ key }}"
                     class="btn btn-default plante btn-block text-left">
                    {{ plantes[key] }}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<script src="d3.js"></script>
<script src="data.js"></script>
<script src="potageome.js"></script>
</body>
</html>



