<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="bootstrap-3.3.7-dist/css/bootstrap.css">
    <link rel="stylesheet" href="potageome.css">
    <script src="jquery-3.1.1.js"></script>
    <script src="jets.js"></script>
    <script src="bootstrap-3.3.7-dist/js/bootstrap.js"></script>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-md-3">
            <br>
            <div class="panel panel-default">
            <div class="panel-heading">Dans mon potager</div>
            <div class="panel-body">
            <div id="jetsMyPotageomeContent" data-toggle="buttons" style="padding: 0 5px 0 5px">
                {% for key, value in appartenance if value in [1,2,3,4,7,9] %}
                <div id="planteSelected_{{ key }}" data-value="{{ key }}"
                     class="btn btn-default btn-sm planteSelected btn-plante hidden
                            col-xs-12 col-sm-6 col-md-4 col-lg-3">
                    {{ plantes[key] }}
                </div>
                {% endfor %}
            </div>
            </div>
            </div>
            <div id="info" class="panel panel-default hidden">
            <div class="panel-heading">
                <span id="info-name">

                </span>
            </div>
            <div class="panel-body">
                <table class="table table-bordered">
                    <tr>
                        <th class="col-xs-6">Favorise</th>
                        <th class="col-xs-6">Défavorise</th>
                    </tr>
                    <tr>
                        <td id="forward-pos"><span class="text"></span>
                            <button class="btn btn-sm btn-primary btn-filter"></button>
                        </td>
                        <td id="forward-neg"><span class="text"></span>
                            <button class="btn btn-sm btn-primary btn-filter"></button>
                        </td>
                    </tr>
                </table>
                <table class="table table-bordered" id="table-plant">
                    <tr>
                        <th class="col-xs-6">Favorisé par</th>
                        <th class="col-xs-6">Défavorisé par</th>
                    </tr>
                    <tr>
                        <td id="backward-pos"><span class="text"></span>
                            <button class="btn btn-sm btn-primary btn-filter"></button>
                        </td>
                        <td id="backward-neg"><span class="text"></span>
                            <button class="btn btn-sm btn-primary btn-filter"></button>
                        </td>
                    </tr>
                </table>
                <table class="table table-bordered">
                    <tr>
                        <th class="col-xs-6">Attire</th>
                        <th class="col-xs-6">Repousse</th>
                    </tr>
                    <tr>
                        <td id="forward-atr"><span class="text"></span>
                            <button class="btn btn-sm btn-primary btn-filter"></button>
                        </td>
                        <td id="forward-rep"><span class="text"></span>
                            <button class="btn btn-sm btn-primary btn-filter"></button>
                        </td>
                    </tr>
                </table>
                <table class="table table-bordered" id="table-bug">
                    <tr>
                        <th class="col-xs-6">Attiré par</th>
                        <th class="col-xs-6">Repoussé par</th>
                    </tr>
                    <tr>
                        <td id="backward-atr"><span class="text"></span>
                            <button class="btn btn-sm btn-primary btn-filter"></button>
                        </td>
                        <td id="backward-rep"><span class="text"></span>
                            <button class="btn btn-sm btn-primary btn-filter"></button>
                        </td>
                    </tr>
                </table>
            </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-6">
            <svg id="graph" width="700" height="900"></svg>
        </div>
        <div class="col-xs-12 col-md-3">
            <br>
            <div class="panel panel-default">
            <div class="panel-heading">Rajouter une plante</div>
            <div class="panel-body">
            <div class="box">
                <div class="container-jets">
                    <span class="glyphicon glyphicon-search"></span>
                    <input type="search" id="jetsPotageomeSearch" placeholder="Chercher"/>
                </div>
            </div>
            <div id="filter" class="btn btn-primary btn-sm hidden">
                <span id="filter-name"></span>
                <span class="glyphicon glyphicon-remove"></span>
            </div>
            <div id="jetsPotageomeContent" data-toggle="buttons">
                {% for key, value in appartenance if value in [1,2,3,4,7,9] %}
                <div id="plante_{{ key }}"  data-value="{{ key }}"
                     class="btn btn-default btn-sm plante btn-plante
                            col-xs-12 col-sm-6">
                    {{ plantes[key] }}
                    (<span class="plus"></span><span class="green">&#8593;</span>/
                    <span class="minus"></span><span class="red">&#8595;</span>)
                </div>
                {% endfor %}
            </div>
            </div>
            </div>
        </div>
    </div>
</div>
<script src="d3.js"></script>
<script src="data.js"></script>
<script src="potageome.js"></script>
</body>
</html>



