<meta charset="UTF-8" />
<link rel="icon" href="favicon.ico" />
<link rel="stylesheet" href="{{ STATIC_URL }}/css/bulma.min.css" />
<link rel="stylesheet" href="{{ STATIC_URL }}/css/fa.min.css" />
<link rel="stylesheet" href="{{ STATIC_URL }}/css/main.css" />
<script src="{{ STATIC_URL }}/js/bootstrap-native-v4.min.js"></script>

<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" href="{{STATIC_URL}}/css/MonPotager.{{ minified }}css" />
<script src="{{STATIC_URL}}/js/jquery-3-4-1.min.js"></script>
<script src="{{STATIC_URL}}/js/jets.min.js"></script>
<script src="{{STATIC_URL}}/js/jquery.scrollTo.min.js"></script>
<script src="{{STATIC_URL}}/js/cookie.min.js"></script>
<script src="{{STATIC_URL}}/js/bootstrap.min.js"></script>