<!DOCTYPE html>
<html class="has-navbar-fixed-top has-navbar-fixed-bottom">
<head>
{% include 'head.inc.html' %}
<title>MonPotager - Accueil</title>
</head>
<body>
{% include 'header.inc.html' %}

<h1 class="title is-1">Pourquoi ?</h1>
<p>Rarement prises en compte dans la planification d'un potager, les <strong>interactions végétales</strong> entre plantes
compagnes peuvent souvent aider à <strong>limiter l'apparition des maladies</strong> ou même à <strong>augmenter la productivité</strong>
du potager.</p>

<h1 class="title is-1">Le projet</h1>
<p><i>Mon Potager</i> est une application permettant de simuler son potager en insérant les diverses
espèces de fruits et légumes, et de savoir si les interactions seront favorables ou défavorables.
<i>Mon Potager</i> permet également d'obtenir facilement des informations sur la façon dont un parasite
peut être éliminé par des plants compagnes.</p>

<h4 class="title is-1">Références</h4>
<!-- TODO: mieux mettre en forme, mettre plus de boutiques comme lalibrairie.com ? Gibert ?Fnac ? Amazon ? ... -->
<article class="media">
    <figure class="media-left">
        <p class="image is-64x64">
        <img src="https://boutique.terrevivante.org/uploads/Externe/d0/MOYEN_LIV_IMAGE_2326_1522766930.jpg">
        </p>
    </figure>
    <div class="media-content">
    <div class="content">
        <p><h4 class="title is-4">Plantes compagnes au potager bio</h4>
        <small>S. Lefrançois et Jean-Paul Thorez</small><br/>
        <strong>ISBN</strong> : 9782914717878<br/>
        Acheter sur <a href="https://www.lalibrairie.com/livres/plantes-compagnes-au-potager-bio--le-guide-des-cultures-associees_0-571471_9782914717878.html" target="_blank">LaLibrairie.com</a> <a href="https://boutique.terrevivante.org/librairie/livres/2326/conseils-d-expert/458-plantes-compagnes-au-potager-bio.htm" target="_blank">TerreVivante.org</a>
        </p>
    </div>
    </div>
</article>

<article class="media">
    <figure class="media-left">
        <p class="image is-64x64"><a href="https://boutique.terrevivante.org/librairie/livres/1585/conseils-d-expert/458-le-poireau-prefere-les-fraises.htm" target="_blank">
        <img src="https://boutique.terrevivante.org/uploads/Externe/ec/MOYEN_LIV_IMAGE_1585_1522482239.jpg"></a>
        </p>
    </figure>
    <div class="media-content">
    <div class="content">
        <p><h4 class="title is-4">Le poireau préfère les fraises</h4>
        <small>Hans Wagner</small><br/>
        <strong>ISBN</strong> : 9782904082887<br/>
        Acheter sur <a href="https://www.lalibrairie.com/livres/le-poireau-prefere-les-fraises--les-meilleures-associations-de-plantes_0-49194_9782904082887.html" target="_blank">LaLibrairie.com</a> <a href="https://boutique.terrevivante.org/librairie/livres/1585/conseils-d-expert/458-le-poireau-prefere-les-fraises.htm" target="_blank">TerreVivante.org</a>
        </p>
    </div>
    </div>
</article>

<h4 class="title is-1">L&#39;équipe</h4>
<p>
<i>Mon Potager</i> a été développé par
<a href="https://github.com/ThibaultLatrille/" target="_blank">Thibault Latrille</a> et
<a href="https://github.com/tlorin" target="_blank">Thibault Lorin</a>, deux comparses intéressés
par les interactions
végétales au sein du potager. Le code (CC-BY-NC) est disponible à
<a href="https://github.com/ThibaultLatrille/MonPotager"
    target="_blank">https://github.com/ThibaultLatrille/MonPotager</a>.
<br><br>
Par ailleurs la base de données est collaborative, n'hésitez pas à proposer des changements: <br>
<ul>
    <li>
        <a href="https://docs.google.com/spreadsheets/d/1Wp_fomhElzCspAxgarp1BstonU0HGA_tNB_U2uNskw0/edit?usp=sharing#gid=537765681"
            target="_blank">Base de données des
            espèces</a>.
    </li>
    <li>
        <a href="https://docs.google.com/spreadsheets/d/1Wp_fomhElzCspAxgarp1BstonU0HGA_tNB_U2uNskw0/edit?usp=sharing#gid=0"
            target="_blank">Base de données des
            associations</a>.
    </li>
</ul>
Contactez nous à l'adresse <a href="mailto:monpotager@controversciences.org">monpotager@controversciences.org</a>
pour nous signaler des erreurs, nous
proposer des améliorations possibles, partager des bons plans, ou simplement pour en savoir plus !
</p>
{% include 'footer.inc.html' %}
</body>
</html>