<!DOCTYPE html>
<html>
<head>
{% include 'head.inc.html' %}
<title>MonPotager - Fraisier des bois</title>
</head>
<body>
{% include 'header.inc.html' %}

<!-- Photos à droite -->
<section class="hero is-primary is-medium is-bold"><div class="hero-body"><div class="container">
    <h1 class="title is-1">Fraisier des bois <small class="is-size-3 has-text-grey-dark">Fragaria vesca</small></h1>
    <h2 class="subtitle">Synonyme 1 aucun</h2>
    <h2 class="subtitle">Synonyme 2 ...</h2>
</div></div></section>

<table class="table is-striped is-narrow is-fullwidth">
    <thead><tr>
        <th></th>
        <th>Janvier</th>
        <th>Février</th>
        <th>Mars</th>
        <th>Avril</th>
        <th>Mai</th>
        <th>Juin</th>
        <th>Juillet</th>
        <th>Août</th>
        <th>Septembre</th>
        <th>Octobre</th>
        <th>Novembre</th>
        <th>Décembre</th>
    </tr></thead><tbody><tr>
        <th><a href="#planting">Plantation</a></th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr><tr>
        <th><a href="#flowering">Floraison</a></th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr><tr>
        <th><a href="#harvest">Récolte</a></th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr><tr>
        <th><a href="#pruning">Taille</a></th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr></tbody>
</table>
+ couleurs feuilles et fleurs ?

<div class="tabs is-centered"><ul>
    <li><a>Caractéristiques</a></li>
    <li class="is-active"><a>Jardinage</a></li>
    <li><a>Emplacement</a></li>
    <li><a>Esthétique</a></li>
    <li><a>Classification</a></li>
    <li><a>Interactions</a></li>
</ul></div>

<div id="gardening"><h3 class="title is-3 has-background-success">Jardinage</h3>
    <!-- Tableau "fiche" + lien vers explications -->
    Entretien (facilité)
    Besoin en eau 
    Croissance
    Multiplication
    Résistance au froid
    Type de sol
    PH du sol
    Humidité du sol
    Densité
    <!-- Calendrier -->
    <!-- Explications -->
</div>

<div id="appearance"><h3>Appearance</h3>
    Couleur des fleurs
    Couleur des feuilles
    Végétation 
    Feuillage 
    Hauteur à maturité 
    Largeur à maturité
    Forme
</div>

<div id="interactions"><h3>Interactions</h3>
    Couleur des fleurs
    Couleur des feuilles
    Végétation 
    Feuillage 
    Hauteur à maturité 
    Largeur à maturité
    Forme
</div>

{% include 'footer.inc.html' %}
</body>
</html>