$green: #5cb85c;
$red: #d9534f;
$altgreen: #59C596;
$altred: #E67B48;

.alert {
  -moz-animation: cssAnimation 0s ease-in 5s forwards;
  /* Firefox */
  -webkit-animation: cssAnimation 0s ease-in 5s forwards;
  /* Safari and Chrome */
  -o-animation: cssAnimation 0s ease-in 5s forwards;
  /* Opera */
  animation: cssAnimation 0s ease-in 5s forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@keyframes cssAnimation {
  to {
    width: 0;
    border: 0;
    margin: 0;
    padding: 0;
    height: 0;
    overflow: hidden;
    visibility: hidden;
  }
}

@-webkit-keyframes cssAnimation {
  to {
    width: 0;
    height: 0;
    visibility: hidden;
  }
}

.text-bold {
  font-weight: bold;
}

#helpers-links {
  margin-bottom: 5px;
}

.links {
  color: #2e6da4;
}

.links:hover {
  color: #122b40;
  cursor: pointer;
}

.save-reset {
  color: #2e6da4;
}

.save-reset:hover {
  color: #122b40;
  cursor: pointer;
}

.no-margin-bottom {
  margin-bottom: 0 !important;
}

.padding-div {
  padding: 0 5px 0 5px;
  margin-bottom: 10px;
}

.big {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 120%;
}

svg {
  height: 100%;
  margin: 0;
  width: 100%;

  g {
    fill: #0f0f0f;
  }

  circle {
    stroke: #333;
    stroke-width: 2px;
  }

  circle:hover {
    cursor: pointer;
  }

  text {
    fill: #0f0f0f;
    font: 14px sans-serif;
    font-weight: bold;
    pointer-events: none;
    text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
  }

  .link {
    fill: none;
    stroke-width: 2px;
  }

  .link.pos {
    stroke: $green;
  }

  #pos {
    fill: $green;
  }

  .link.neg {
    stroke: $red;
  }

  #neg {
    fill: $red;
  }

  .link.atr {
    stroke: $altgreen;
    stroke-dasharray: 5;
  }

  #atr {
    fill: $altgreen;
  }

  .link.rep {
    stroke: $altred;
    stroke-dasharray: 5;
  }

  #rep {
    fill: $altred;
  }
}

.info-side {
  .btn-plante {
    word-break: break-all;
    word-wrap: break-word;
    margin: -1px -1px 0 0;
    border-radius: 0;
  }

  .filtered {
    display: none;
  }

  .box {
    margin-top: -10px;
    width: 100%;
    max-width: 100%;
    margin-bottom: 10px;

    .container-jets {
      width: 100%;
      max-width: 100%;
      white-space: nowrap;
      position: relative;
      border-bottom: 4px solid #26a69a;
    }

    .container-jets input {
      width: 80%;
      max-width: 80%;
      border: none;
      font-size: 1.2em;
      color: #65737e;
      background-color: #FAFAFA;
      padding: 5px 0 5px 0;
      -webkit-transition: background .55s ease;
      -moz-transition: background .55s ease;
      -ms-transition: background .55s ease;
      -o-transition: background .55s ease;
      transition: background .55s ease;
    }

    .container-jets input::-webkit-input-placeholder {
      color: #65737e;
    }

    .container-jets input:-moz-placeholder {
      /* Firefox 18- */
      color: #65737e;
    }

    .container-jets input::-moz-placeholder {
      /* Firefox 19+ */
      color: #65737e;
    }

    .container-jets input:-ms-input-placeholder {
      color: #65737e;
    }

    .container-jets .glyphicon {
      color: #65737e;
    }

    .container-jets input:hover, .container-jets input:focus, .container-jets input:active {
      outline: none;
      background: #FAFAFA;
    }

    .container-jets input:focus::-webkit-input-placeholder {
      color: #FAFAFA;
    }

    .container-jets input:focus:-moz-placeholder {
      color: #FAFAFA;
    }

    .container-jets input:focus::-moz-placeholder {
      color: #FAFAFA;
    }

    .container-jets input:focus:-ms-input-placeholder {
      color: #FAFAFA;
    }
  }
}

.btn:focus {
  outline: none;
}

.green {
  color: $green;
}

.red {
  color: $red;
}

.col-left {
  .td-filter {
    text-align: center;
  }

  #info {
    .panel-body {
      padding-bottom: 0;
    }
  }
}

.col-right {
  #filter {
    margin-bottom: 10px;
  }
}

.footer {
  background-color: #232D33;
  color: white;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;

  .footer-link {
    font-size: 1.6em;
    line-height: 2em;
  }

  .footer-link:hover {
    cursor: pointer;
  }
}
//style pour le nouveu panel et les boutons d'ajout
.panel-add {
    background-color: #FAFAFA;
    color: #31627F;
    font-size: 1.2em;
    line-height: 1.6em;
    padding: 10px 15px;
    margin-bottom: 10px;
.add-interaction{
  margin-top: 15px;
}
  }
.btn-swap {
    display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;

}

.btn-modif {
    float: right !important;
    display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;

}
//fin modifications

.panel-MonPotager {
  .panel-heading {
    background-color: #31627F;
    color: white;
    font-size: 1.4em;
    line-height: 1.6em;
  }

.liens {
    background-color: #EAEAEA;
    color: #31627F;
    font-size: 1.2em;
    line-height: 1.6em;
  }

  .panel-body {
    background-color: #FAFAFA;
  }
}

#on-screen-test {
  float: left;
}

@media screen and (min-width: 992px) {
  #on-screen-test {
    float: none;
  }
  .col-right {
    position: absolute;
    top: 0;
    right: 0;
  }
  .col-left {
    position: absolute;
    top: 0;
    left: 0;
    overflow-y: auto;
    max-height: 100%;
    height: 100%;
  }
  body, html {
    overflow: hidden;
    height: 100%;
    margin: 0;
  }
}

.transparent {
  opacity: 0.1 !important;
}

// code pour l'autocomplétion dans les formulaires


* {
  box-sizing: border-box;
}


/*the container must be positioned relative:*/
.autocomplete {
  position: relative;
  display: inline-block;
}

input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
}

input[type=text] {
  background-color: #f1f1f1;
  width: 100%;
}

input[type=submit] {
  background-color: DodgerBlue;
  color: #fff;
  cursor: pointer;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}

/*when hovering an item:*/
.autocomplete-items div:hover {
  background-color: #e9e9e9;
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
  background-color: DodgerBlue !important;
  color: #ffffff;
}

